  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="/static/assets/img/security-logo.png" alt="Security Logo" class="brand-image elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Work Assistant</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <li class="nav-header">PROJECT</li>
          <li class="nav-item">
            <a href="/project.html" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Project
              </p>
            </a>
          </li>
          <li class="nav-header">WORKLOAD</li>
          <li class="nav-item">
          <a href="/task-list.html" class="nav-link">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              Task List
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/sum-up.html" class="nav-link">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              Weekly Sum-Up
            </p>
          </a>
        </li>
          <li class="nav-header">MAILBOX</li>
          <li class="nav-item">
            <a href="/mailbox.html" class="nav-link {% if 'mailbox.html' in segment %} active {% endif %}">
              <i class="fas fa-inbox nav-icon"></i>
              <p>Inbox</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/mailbox-sent.html" class="nav-link {% if 'mailbox-sent.html' in segment %} active {% endif %}">
              <i class="far fa-envelope nav-icon"></i>
              <p>Sent</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/mailbox-compose.html" class="nav-link {% if 'mailbox-compose.html' in segment %} active {% endif %}">
              <i class="far fa-file-alt nav-icon"></i>
              <p>Compose</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/mailbox-read-mail.html" class="nav-link {% if 'mailbox-read-mail.html' in segment %} active {% endif %}">
              <i class="far fa-circle nav-icon"></i>
              <p>Read</p>
            </a>
          </li>
          
          </ul>
          </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  