<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img src="/static/assets/img/security-logo.png" alt="Security Logo" class="brand-image elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">Work Assistant</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-header">DASHBOARD</li>
        <li class="nav-item">
          <a href="/dashboard1.html" class="nav-link {% if 'dashboard1.html' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard v1</p>
          </a>
        </li>

        <li class="nav-header">PROJECT</li>
        <li class="nav-item">
          <a href="/project.html" class="nav-link {% if 'project.html' in segment %} active {% endif %}">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              Project
            </p>
          </a>
        </li>
        <li class="nav-header">JIRA</li>
        <li class="nav-item">
          <a href="/jira-list.html" class="nav-link {% if 'jira-list.html' in segment %} active {% endif %}">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              My Jira
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/jira-list-team.html" class="nav-link {% if 'jira-list-team.html' in segment %} active {% endif %}">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              Team Jira
            </p>
          </a>
        </li>
        <li class="nav-header">WEEKLY SUM UP</li>
        <li class="nav-item">
          <a href="/sum-up.html" class="nav-link {% if 'sum-up.html' in segment %} active {% endif %}">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              Weekly Sum Up Home
            </p>
          </a>
        <li class="nav-item">
          <a href="/sum-up-draft.html" class="nav-link {% if 'sum-up-draft.html' in segment %} active {% endif %}">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              Weekly Sum Up Draft
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/sum-up-list.html" class="nav-link {% if 'sum-up-list.html' in segment %} active {% endif %}">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              Weekly Sum Up List
            </p>
          </a>
        </li>
        <!--
        <li class="nav-header">TEST</li>
        <li class="nav-item">
          <a href="/gallery.html" class="nav-link">
            <i class="nav-icon far fa-image"></i>
            <p>
              Gallery
            </p>
          </a>
          <a href="/tables-simple.html" class="nav-link">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              Table
            </p>
          </a>
        </li>
        </li>
        <li class="nav-header">MAILBOX</li>
        <li class="nav-item">
          <a href="/mailbox.html" class="nav-link {% if 'mailbox.html' in segment %} active {% endif %}">
            <i class="fas fa-inbox nav-icon"></i>
            <p>Inbox</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/mailbox-sent.html" class="nav-link {% if 'mailbox-sent.html' in segment %} active {% endif %}">
            <i class="far fa-envelope nav-icon"></i>
            <p>Sent</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/mailbox-compose.html"
            class="nav-link {% if 'mailbox-compose.html' in segment %} active {% endif %}">
            <i class="far fa-file-alt nav-icon"></i>
            <p>Compose</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/mailbox-read-mail.html"
            class="nav-link {% if 'mailbox-read-mail.html' in segment %} active {% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Read</p>
          </a>
        </li>
      -->
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>